# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/
release/
.claude

# Node
node_modules/
npm-debug.log
yarn-error.log
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
lesson/logs/
lesson/storage/
lesson/storage/*
*.db
*.zip
.env

*.db-shm
*.db-wal
*.db-lock

setting.local.json
